/*Green theme*/


.option-box .gear-box ,.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus ,
.dropdown-menu > li > a:hover ,.dropdown-menu .divider ,
.carousel-indicators .active,.arrow-up i

      

{
  
  
  
    background-color:#649d66 ;
  
}


.navbar-header .navbar-brand span ,.about .lead,
.features p , .testimonials .feat h2,.ourteam h3,
.contactus p, .callus p , .footer .media-body h3,
.copyright span,.aboutus p


{

        color: #649d66;
        
        
     

}

 .dropdown-menu
 
 {


    border-top: 1px solid #649d66;
    
  }


     





    
   
    
    
       
    
            
           
               

    


/*End Green theme*/