*{
box-sizing: border-box;
font-family: 'Galada', cursive;
}

/*Global styles*/

body{

padding-top: 60px;
background-color: #222222;
overflow: hidden;
}



/*End Global styles*/



/*Start loading section*/
.loading-overlay{

position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 999999999999;
background-color: #3f3f3f;
}
.spinner {
    margin: 300px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #FFF;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }





/*End loading section*/


/*Start toolBox Section*/
.option-box{
color:#FFF;
position:fixed;
top:80px;
z-index: 9999999;
padding: 10px;

}



.option-box .gear-box{
    color: #FFF;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    }
    
.option-box .color-box{

float: left;
margin-right: 10px;
padding: 10px;
z-index:99999;
display: none;
background-color:rgba(0,0,0);
border-radius: 30%;

}


.option-box .color-box ul li{

    width:20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    }


        

/*End toolBox Section*/

/*Start arrow up Section*/

.arrow-up{

position:fixed;
bottom: 0;
right: 0;
margin-right: 10px;
padding: 10px;
float: right;
z-index: 999999999;
}

.arrow-up i{

color:#FFF;
border-radius: 50%;
padding: 10px;
cursor: pointer;
 
display: none;
}

/*End arrow up Section*/


/*start navbar section*/



 .navbar-inverse .navbar-nav > li > a{


    color:#BBB;



 }

 .navbar-inverse .navbar-brand {

color:#BBB;



 }

 .dropdown-menu{


background-color:rgb(34,34,34) ;
min-width: 200px;

 }

 .dropdown-menu > li > a {
    color: #FFF;
    padding: 7px 20px;
  -moz-transition:padding .5s ease-in-out ;
   -webkt-transition:padding .5s ease-in-out ;
    -o-transition:padding .5s ease-in-out ;

    transition:padding .5s ease-in-out ;

 }
 .dropdown-menu > li > a:hover
 {
 
color:#FFF;
padding-left: 25px;
} 




.navbar-right .dropdown-menu{

right: auto;
left: auto;
font-size: 16px;
}



.navbar-nav > li > a{


padding-top: 25px;
padding-bottom: 25px;
font-size: 16px;


}

.navbar-brand {

padding: 28px 15px;
font-size: 51px;

}

.navbar{


min-height: 20px;


}


.navbar-toggle {


margin-top: 17px;
    
}

/*End navbar section*/

/*Start Carousel section*/

.carousel-inner > .item > img, .carousel-inner > .item > a > img {


height: 350px;
width: 100%;
filter: blur(20px);

}

.carousel-caption {
    bottom: 23px;
    background-color: rgba(0, 0,0, .5);
    border-radius: 10px;   
    
}


.carousel-caption > h2{

color: #ffac41;

}



.carousel-caption > p{
    padding: 10px;


}
.carousel-indicators {
    bottom: -9px;
   
}


.carousel-indicators .active {
    width: 13px;
    height: 13px;
}

/*End Carousel section*/

/*Start about section*/

.about{

padding: 65px 0 ;
color:#ffac41

}

.about .h1{
    font-weight: bold;

}








/*End about section*/

/*Start features section*/


.features{
padding: 50px 0;
background-color: #000;
}

.features h2,.features h3{

    color:#ffac41;


}

.features span{

    color: #79d70f;
    font-size: 30px;
    
}
.features .feat{

margin-top: 40px;


}










/*End features section*/


/*Start Testimonial section*/

.testimonials h2{
    color:#ffac41 ;


}



.testimonials .feat {


color: #FFF;
line-height: 1.5em;
margin:30px 0 30px 0;
padding: 20px 30px 20px;
background-color: rgba(0, 0,0, .5);
border-radius: 10px;

}
.testimonials .feat img{
width: 30%;
padding: 5px;
border: 2px solid #ffac41;


}


/*End Testimonial section*/


/*Start price table section*/
.price{

background-color: #000;
margin-top: 20px;


}

.price h2{


color: #ffac41;
margin-bottom: 40px;
font-size: 40px;

}

.price .pricebox{


background-color: #FFF;
margin-bottom: 50px;
margin-top: 10px;
border-radius: 10px;
}

/*start Global style section*/




.price .pricebox  p{
   
   font-size: 30px;
   padding: 30px ;
   color: #FFF;

}

.price .pricebox  .glyphicon {

font-size: 15px;
padding: 20px;
border-radius: 50%;
color: #FFF;
position: relative;
top:-27px
}

.price .pricebox  p span{
    font-size: 50px;
    
   
}

.price .pricebox span.header{

color: #fff;
font-size: 20px;
padding: 10px;
position: relative;
top: -40px;
border-radius: 10px;

}

.price .pricebox  ul li{

line-height: 2em;

}

.price .pricebox  ul li{
color:rgb(189, 189, 189);
font-size: 15px;


}

.price .pricebox  ul li span{

font-size: 17px;
font-weight: bold;


}

.price .pricebox  a{


margin-bottom: 15px;

}

.price .pricebox  a:hover{

    color: #FFF;

}      

/*End Global style section*/

/*Start pro section*/



.price .pricebox .top-pro-section{
    background-color: #01C7D4;
    margin-bottom: 30px;
    border-radius: 10px;
    }

    .price .pricebox .top-pro-section .glyphicon {
        background-color: #71EFEB;


    }

    .price .pricebox .buttom-pro-section span.header{

    background-color: #71EFEB;
    }
    .price .pricebox .buttom-pro-section ul li span{
        color:#01C7D4;
     }
     .price .pricebox .buttom-pro-section  a{


        border: 1px solid #01C7D4;
     }        
        
     .price .pricebox .buttom-pro-section a:hover{

        background-color:#01C7D4 ;
    
    }        
        
/*End pro section*/

/*Start cor section*/
.price .pricebox .top-cor-section{
    background-color: #B26AAA;
    margin-bottom: 30px;
    border-radius: 10px;
    
    }
    
    .price .pricebox .top-cor-section .glyphicon {
        background-color: #F292A0;


    }

    
.price .pricebox .buttom-cor-section span.header{

background-color: #F292A0;

}

.price .pricebox .buttom-cor-section ul li span{
color:#B26AAA;
}

.price .pricebox .buttom-cor-section a{


    border: 1px solid #B26AAA;

    
    }
    
    .price .pricebox .buttom-cor-section a:hover{

        background-color:#B26AAA ;
    
    }

/*End cor section*/

/*Start ent section*/
.price .pricebox .top-ent-section{
    background-color: #DA3F6B;
    margin-bottom: 30px;
    border-radius: 10px;
    
    }
    
    .price .pricebox .top-ent-section .glyphicon {
        background-color: #FF7B7E;


    }

    
.price .pricebox .buttom-ent-section span.header{

background-color: #FF7B7E;

}

.price .pricebox .buttom-ent-section ul li span{
color:#DA3F6B;
}

.price .pricebox .buttom-ent-section a{


    border: 1px solid #DA3F6B;

    
    }
    .price .pricebox .buttom-ent-section a:hover{

        background-color:#DA3F6B ;
    
    }

    

/*End ent section*/

/*Start ult section*/
.price .pricebox .top-ult-section{
    background-color: #8BC24A;
    margin-bottom: 30px;
    border-radius: 10px;
    
    }
    
    .price .pricebox .top-ult-section .glyphicon {
        background-color: #a7e75d;


    }
    
.price .pricebox .buttom-ult-section span.header{

background-color: #a7e75d;

}

.price .pricebox .buttom-ult-section ul li span{
color:#8BC24A;
}

.price .pricebox .buttom-ult-section a{


    border: 1px solid #8BC24A;

    
    }
    .price .pricebox .buttom-ult-section a:hover{

        background-color:#8BC24A ;
    
    }

    

/*End ent section*/




/*End price table section*/

/*Start our team section*/
.ourteam{

background: url(" ../Images/ourteam-background.gif") no-repeat center center fixed ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

width: 100%;
color: #FFF;

}

.ourteam .overlay{

background-color: rgba(0, 0,0, .6);
min-height:600px;
padding-top: 20px;
padding-bottom: 20px;
overflow: hidden;


}




.ourteam .h1{


 color:#ffac41;
 padding-top: 20px;
 padding-bottom: 50px;
}

.ourteam img{

width: 50%;
transition: all .4s ease;

}
.ourteam img:hover{

    -webkit-transform:scale(1.1) ;
    -moz-transform:scale(1.1) ;
    -o-transform:scale(1.1) ;
    transform: scale(1.1);
    }
    

.ourteam .person{


margin-bottom: 40px;
margin-left: 20px;

}
.ourteam .person i{
font-size: 25px;
margin: 10px;
transition: all .3s ease-in-out; 
cursor: pointer;
}
.ourteam .person i:hover{
        
 -webkit-transform:scale(1.5,1.5);

 -moz-transform:scale(1.5,1.5);

 -o-transform:scale(1.5,1.5);

 transform:scale(1.5,1.5);

}
.ourteam .person i:first-of-type:hover{
    
   color: #3b5998;
   }
   

   .ourteam .person i:nth-of-type(2):hover{
    
    color: #00acee ;
    }
   
   .ourteam .person i:nth-of-type(3):hover{
    
      color: #c4302b ; 
       }
   
        .ourteam .person i:nth-of-type(4):hover{
    
            color: #3cba54;
        }
           
            
/*End our team section*/

/*Start contact us section*/

.contactus{

padding:40px 0;


}

.contactus h2{


color: #ffac41;

}



.contactus form input::placeholder{
    text-align: center;

    }


    .contactus form input,.contactus form button {

    margin-bottom: 20px;

        

    }


/*End contact us section*/


/*Start statistics section*/

.statistics{

background-color: #000;
padding-top: 40px;
padding-bottom: 70px;
color: rgb(192, 192, 192);
}



.statistics h2{


color:#ffac41 ;

}

.statistics .stats{

margin-top: 20px;
margin-bottom: 20px;

transition: all .4s ease-in-out;

}
.statistics .stats:hover{

    color: #FFF;

}


.statistics .stats p{


margin-top: 20px;
margin-bottom: 0;
font-size: 30px;
font-weight: bold;

}

.statistics .stats span{

font-size: 15px;
}

/*End statistics section*/

/*Start skills section*/

.skills{

color: #FFF;
margin: 40px 0;

}
.skills h2{

color:#ffac41 ;
margin-bottom: 60px;

}
.skills .skill-prog{

    margin-bottom: 100px;
}






/*End skills section*/

/*Start our clients section*/
.our-clients{

    background-color: #bdb9b9;
    margin-top: -20px;
    padding: 20px;
    
    }
    .our-clients h2{
    
       padding-top: 20px;
    }
    
    .our-clients img{
    
    
    opacity: .3;
    
    transition: all .4s ease-in-out;
    
    }
    
    .our-clients img:hover{
    
    
        opacity: 1;
        
        }
        
    
    /*End our clients section*/
    

/*Start call  us section*/

.callus{
background: url('../Images/callus.jpg') no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 500px;
color: #FFF;
}

.callus .overlay{

background-color: rgba(0, 0,0, .7);
min-height: 500px;
}

.callus i.fa-headphones{

    color: rgb(192, 192, 192);
    margin-top: 20px;
    
    }
    
.callus h2{
    color:#ffac41
}

.callus p{

font-size: 25px;
letter-spacing: 10px;
margin-bottom: 50px;


}

.callus input,.callus textarea{


    background-color:rgba(82,78,78,.5) ;
    color: #FFF;
}


.callus input,textarea::placeholder{


text-align: center;
line-height: 90px;

}
.callus textarea{

height: 108px;
resize: none;

}


/*End call us section*/

/*Start footer  section*/

.footer{

background: #000;
color: #FFF;
padding-top: 30px;
}


.footer .footing{
padding-bottom: 50px;
}

.footer .footing h2{
    color:#ffac41;
    letter-spacing: 2px;
    margin-bottom:20px;
}

.footer .footing ul li{

padding-bottom: 10px;
font-size: 15px;
letter-spacing: 1px;
color: rgb(158, 157, 157);
cursor: pointer;
margin-left: -15px;


-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-o-transition: all .5s ease;

transition: all .5s ease;


}

.footer .footing ul li:hover{

color: #FFF;
}

.footer .footing ul  img{

width: 40px;
opacity: .5;


-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-o-transition: all .5s ease;

transition: all .5s ease;

}

.footer .footing ul img:hover{
opacity: 1;

}
.footer .media-body h3{

margin-top: 0;

}

.footer .media-body p{
    color: rgb(158, 157, 157);
padding:0 10px 10px 10px;

}

.copyright{

letter-spacing: 5px;
font-size: 17px;
padding-top: 20px;
}


/*End footer  section*/
